<h1>Hi <%= @user.username %></h1>
<p>Welcome to our site.</p>

<% if session[:id] %>
  <a href='/logout'>Logout</a>
<% else %>
  <a href="/login">Login</a>
<% end %>

<h2>Your saved articles:</h2>
<ul>
  <% @user.articles.each do |article|  %>
    <li><%= article.title %></li>
  <% end %>
</ul>